@charset "utf-8";
@import "tailwindcss";

/* variable ----------- */
:root {
  --slate-900: #0F172A;
  --slate-800: #1E293B;
  --slate-500: #64748B;
  --slate-400: #94A3B8;
  --slate-300: #CBD5E1;
  --slate-200: #E2E8F0;
  --slate-100: #F1F5F9;
  --violet-600: #7C3AED;
  --violet-100: #EDE9FE;
  --rose-500: #F43F5E;
  --lime-300: #BEF264;
  --amber-800: #92400E;
  --bg-white: #FFFFFF;
  --bg-main: #F9FAFB;
}

/* fonts ----------- */
@font-face {
  font-family: "NanumSquare";
  src: url("/fonts/NanumSquareEB.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "NanumSquare";
  src: url("/fonts/NanumSquareB.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "NanumSquare";
  src: url("/fonts/NanumSquareR.ttf") format("truetype");
  font-weight: 400;
}

/* reset ----------- */
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "NanumSquare";
  font-size: 16px;
  color: var(--slate-900);
  background: var(--bg-main);
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

input,
textarea,
select {
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
[class$='-btn'] {
  cursor: pointer;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 0;
}

/* Tablet */
@media screen and (max-width: 1199px) {
  .inner {
    max-width: 100%;
    padding: 24px;
  }
}

/* Mobile */
@media screen and (max-width: 743px) {
  .inner {
    max-width: 100%;
    padding: 16px;
  }
}