@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --slate-900: #0F172A;
  --violet-600: #7C3AED;
  --slate-800: #1E293B;
  --violet-100: #EDE9FE;
  --slate-500: #64748B;
  --slate-400: #94A3B8;
  --rose-500: #F43F5E;
  --slate-300: #CBD5E1;
  --lime-300: #BEF264;
  --slate-200: #E2E8F0;
  --slate-100: #F1F5F9;
  --amber-800: #92400E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "NanumSquare";
  src: url("/fonts/NanumSquareR.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "NanumSquare";
  src: url("/fonts/NanumSquareB.ttf") format("truetype");
  font-weight: 700;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NanumSquare";
}
